header {
    display: flex;
    padding: 20px 0;
}

.logoContainer {
    margin-left: 20%;
    display: flex;
    align-items: center;
    width: 240px;
}

.logo {
    width: 100px;
}

.logoContainer a {
    text-decoration: none;
}

.title {
    font-size: 22px;
    font-weight: 400;
    color: #1e378a;
}

.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    margin-left: auto;
    margin-right: 20%;
}

.buttonContainer {
    margin-left: auto;
    gap: 12px;
    padding: 0 12px 12px 0;
}

button {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-right: 1px solid gray;
}

button:last-child {
    border: none;
}

.buttonOn {
    color: #33ccff;
}

.buttonOff {
    color:#1e378a;
}

.navigation li {
    display: inline-block;
    padding: 10px 16px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    border-right: 1px solid gray;
}

.navigation a {
    color: #1e378a;
    text-decoration: none;
}

.navItem:last-child {
    border: none;
}