img {
    width: 45%;
}

.homePageBanner {
    display: flex;
    justify-content: left;
    background-color: #101517;
}

.qouteBanner {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin: auto;
    width: 30%;
}

blockquote {
    margin-bottom: 20px;
    font-size: 22px;
    color: #DEB887;
    line-height: 150%;
    font-weight: bold;
}

cite {
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    color: #DEB887;
    line-height: 150%;
}

.aboutProjectButton {
    width: 150px;
    height: 40px;
    background-color: #DEB887;
}

.aboutProjectButton:hover {
    background-color: #CAA473;
}

@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }

    .homePageBanner {
        display: block;
        text-align: center;
    }

    .qouteBanner {
        width: 90%;
    }

    blockquote {
        margin-top: 20px;
        font-size: 18px;
    }
    
    cite {
        font-size: 16px;
    }

    .aboutProjectButton {
        margin: 0 auto;
        margin-bottom: 20px;
    }    
}