img {
    width: 45%;
}

.homePageBanner {
    display: flex;
    justify-content: left;
    background-color: #101517;
    margin-bottom: 60px;
}

.qouteBanner {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    margin: auto;
    width: 30%;
}

blockquote {
    margin-bottom: 5px;
    font-size: 22px;
    color: #deb887;
    line-height: 150%;
    font-weight: bold;
}

cite {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    color: #deb887;
    line-height: 150%;
}

.aboutSection {
    margin: 30px 0;
}

.aboutProjectButton {
    width: 220px;
    height: 50px;
    background-color: #deb887;
    font-size: 20px;
    border-radius: 6px;
}

.aboutProjectButton:hover {
    background-color: #caa473;
}

.abstractTitle {
    margin: 0 4%;
    text-align: center;
    color: #1e378a;
    text-decoration: none;
}

.moreAboutProjectText {
    text-align: center;
    color: #1e378a;
    text-decoration: none;
}

.moreAboutProjectText:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px) {
    .qouteBanner {
        padding: 20px;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }

    .homePageBanner {
        display: block;
        text-align: center;
    }

    .qouteBanner {
        width: 90%;
    }

    blockquote {
        margin-top: 20px;
        font-size: 18px;
    }

    cite {
        font-size: 16px;
    }

    .aboutProjectButton {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
