.titleContainer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e378a;
    color: white;
}

.title {
    padding: 0;
}

.contactPageContainer {
    display: flex;
    flex-direction: row;
    margin: 60px 25%;
    color: #1e378a;
}

.textSection {
    width: 70%;
}

.footerSubsection {
    padding: 8px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-size: 16px;
}

.footerSubsection a {
    text-decoration: none;
}

.footerSubsection a:hover {
    text-decoration: underline;
}

.footerTextSection {
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .contactPageContainer {
        flex-direction: column;
        margin: 0;
        padding: 40px;
    }

    .textSection {
        padding: 40px 0;
        width: 100%;
    }

    .footerSubsection {
        font-size: 0.9rem;
    }

    iframe {
        width: 100%;
        margin-bottom: 60px;
    }
}
